# Build
gsnote

# Markdown (except README)
*.md
!README.md

# Environment
.env
# Added by goreleaser init:
dist/
.codex

# to store your models you download.
# example: https://huggingface.co/ggerganov/whisper.cpp/tree/main
models/
.DS_Store